SQLAlchemy>=2.0
alembic>=1.13
psycopg2-binary>=2.9
strawberry-graphql>=0.285
starlette>=0.50
uvicorn[standard]>=0.38
pandas>=2.3
requests>=2.32
python-dotenv>=1.0
Unidecode>=1.4
aiodataloader==0.3.0
sqlalchemy-utils>=0.41
