SQLAlchemy>=2.0
alembic>=1.13
psycopg2-binary>=2.9
strawberry-graphql>=0.211.1
starlette>=0.37
uvicorn[standard]>=0.30
pandas>=2.2
requests>=2.32
python-dotenv>=1.0
unidecode>=1.3
aiodataloader>=0.4.2
