# heritage_defense/templates/heritage_buildings/building_detail.html

{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-4">{{ heritage_buildings.municipio }} - {{ heritage_buildings.direccion }}</h1>
    <div class="bg-white shadow-md rounded p-4">
        <p><strong>Descripción Registral:</strong> {{ heritage_buildings.descripcion_registral }}</p>
        <p><strong>Referencia Catastral:</strong> {{ heritage_buildings.referencia_catastral }}</p>
        <p><strong>Vendido:</strong> {% if heritage_buildings.vendido %}Sí{% else %}No{% endif %}</p>
        {% if user.is_authenticated and user.userprofile.role in 'admin collaborator' %}
        <div class="mt-4">
            <a href="{% url 'buildings_edit' heritage_buildings.pk %}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">Editar</a>
            <a href="{% url 'buildings_delete' heritage_buildings.pk %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Eliminar</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}